.blitz-game {
    position: relative;
    width: 100%;
    height: 100%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color:transparent;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

.modal-content h1 {
    font-size: 5rem;
    margin: 0;
}